body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

h1 {
    padding: 10px 20px 7px 20px;
    margin: 0;
    color: #666;
    background: #ddd;
    text-transform: uppercase;
}

.two-col-special {
    margin: 0;
    padding: 0;
}

.two-col-special li {
    display: inline-block;
    width: 30%;
    margin: 0;
    padding: 10px;
    vertical-align: top;
}

.two-col-special-li {
    margin: 25px;

}

a {
    display: inline-block;
    width: 80%;
    padding: 10px;
    text-decoration: none;
    color: black;
    border: 10px solid #DDDDDD;
}

a:hover {
    background: #ccc;
    color: firebrick;
}

ul#persons {
}

ul#persons li {
    text-transform: uppercase;
    background-color: #ddd;
}
