<!DOCTYPE html>
<html class="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Image search from ghetty api</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="../css/bundesland.css"/>
</head>

<body>
<form>
    <div class="form-group">
        <h1>Photo Search</h1>


        <div class="form-group" id="skuTextarea">
            <label for="searchStr">Name:</label>
            <input type=text placeholder="image name" class="form-control" [(ngModel)]="model.searchStr" name="name">
        </div>

        <button (click)="getCapitals()">Submit</button>


    </div>
</form>
<ul class="two-col-special">

    <li class="two-col-special-li" *ngFor="let hero of heroes">
        <a href="{{hero.caption}}">
            Caption: {{hero.caption}}
            <br/>Title: {{hero.title}} <br/>
        </a>
        <ol>
            <li *ngFor="let subItem of hero.display_sizes">
                <div><img src="{{subItem.uri}}"></div>
            </li>
        </ol>
    </li>

</ul>

</body>
</html>

